<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.arduiot.ardu_iot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HouseListingActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".CreateAccountActivity" /> <!-- <activity -->
        <!-- android:name="login.ui.login.LoginActivity2" -->
        <!-- android:label="@string/title_activity_login"> -->
        <!--  -->
        <!-- </activity> -->
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>